* {
  cursor: pointer;
}

body {
  margin: 0 auto;
  background-image: url("../image/beemoviebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  /* /* cursor: pointer; */
}
nav {
  background-color: lightsteelblue;
}
nav img {
  width: 360px;
}


 
header img{
  height: 80px;
  margin-right: 34px;
 
}

.beehive {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

 #hit {
  color: red;
}

#bee img {
  display: inline;
  height: 100px;
}
  
button {
  border-radius: 12px;
  border: 1px solid black;
  color: white;
  font-size: 20px;
  background-color: #F9C904;
}

.win {
  display: none;
}

.win > img {
  width: 50vw;
  height: 75vh;
  margin-left: 30vw;
  margin-bottom: 20vh;
}

.loose {
  display: none;
}

.loose > img{
  width: 50vw;
  height: 75vh;
  margin-left: 30vw;
  margin-bottom: 20vh;

}
