* {
  cursor: pointer;
}

body {
  margin: 0 auto;
  background-image: url("../image/hivebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  /* /* cursor: pointer; */
}

nav img {
  width: 360px;
}
 
header img{
  height: 80px;
  margin-right: 34px;
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
}

.beehive {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bolder;
}

 #hit {
  color: red;
}

#bee img {
  display: inline;
  height: 40px;
}
  
button {
  border-radius: 12px;
  border: 1px solid black;
  color: white;
  font-size: 20px;
  background-color: #F9C904;
}
